rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    // Public website reads homepage media config.
    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Public website reads testimonials.
    match /testimonials/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
